In [7]:
import pandas as pd
import numpy as np
import requests, bs4
from lxml import html
from urllib.request import Request, urlopen
from urllib.parse import urlencode, quote_plus, unquote

In [44]:
url = 'http://openapi.airport.co.kr/service/rest/dailyExpectPassenger/dailyExpectPassenger?'
Encoding_key = 'S%2BsWqR2h%2F97Ss5FACtHfvTVQReGCG48oMZqwU%2BBwn9fdbo4qnWhEixkwthLjtJ5wouyDE%2FUnerh6rQSYLrdRZQ%3D%3D'

dict_airport = {'date':[], 'korean':[], 'foreigner':[]}
for m in [8, 9, 10]:
    for d in range(1, 32):
        if m < 10:
            date = '20190' + str(m)
        else: date = '2019' + str(m)

        if d < 10:
            date += '0' + str(d)
        else: date += str(d)

        domestic_url = url
        domestic_url += 'schDate=' + date + '&schAirport=CJU&schTof=D' + '&serviceKey=' + Encoding_key

        response = requests.get(domestic_url).text
        xmlobj = bs4.BeautifulSoup(response, 'lxml-xml')

        domestic_count = 0
        for row in xmlobj.findAll('item'):
            for r in row.find_all('pct'):
                domestic_count += int(r.text)
        
        international_url = url
        international_url += 'schDate=' + date + '&schAirport=CJU&schTof=I' + '&serviceKey=' + Encoding_key

        response = requests.get(international_url).text
        xmlobj = bs4.BeautifulSoup(response, 'lxml-xml')

        international_count = 0
        for row in xmlobj.findAll('item'):
            for r in row.find_all('pct'):
                international_count += int(r.text)
        
        if domestic_count != 0 and international_count != 0:
            dict_airport['date'].append(date)
            dict_airport['korean'].append(domestic_count)
            dict_airport['foreigner'].append(international_count)

airport = pd.DataFrame(dict_airport)
airport

        date  korean  foreigner
0   20190801   17431       2383
1   20190802   18687       2165
2   20190803   21698       3253
3   20190804   21878       2615
4   20190805   21924       1911
..       ...     ...        ...
87  20191027   21644       3353
88  20191028   21220       2122
89  20191029   20414       3052
90  20191030   18073       2662
91  20191031   19246       3074

[92 rows x 3 columns]

In [45]:
airport["date"] = pd.to_datetime(airport["date"])

airport["visitor"] = airport["korean"] + airport["foreigner"]
def get_previous_data(df):
    df["(t-3)"], df["(t-2)"], df["(t-1)"] = None, None, None
    for i in range(3, len(df)):
        df["(t-3)"][i] = int(df["visitor"][i-3])
        df["(t-2)"][i] = int(df["visitor"][i-2])
        df["(t-1)"][i] = int(df["visitor"][i-1])
    df.dropna(inplace=True)
    df = df.loc[31:76].reset_index(drop=True)
    return df
airport = get_previous_data(airport)

airport["visitor_3days"] = airport["(t-1)"] + airport["(t-2)"] + airport["(t-3)"]

airport

<ipython-input-45-447bca7abf2e>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["(t-3)"][i] = int(df["visitor"][i-3])
<ipython-input-45-447bca7abf2e>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["(t-2)"][i] = int(df["visitor"][i-2])
<ipython-input-45-447bca7abf2e>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["(t-1)"][i] = int(df["visitor"][i-1])

         date  korean  foreigner  visitor  (t-3)  (t-2)  (t-1) visitor_3days
0  2019-09-01   21768       3262    25030  23304  23785  22271         69360
1  2019-09-02   20050       2097    22147  23785  22271  25030         71086
2  2019-09-03   16227       3067    19294  22271  25030  22147         69448
3  2019-09-04   12992       2079    15071  25030  22147  19294         66471
4  2019-09-05   13400       3046    16446  22147  19294  15071         56512
5  2019-09-06   16090       2232    18322  19294  15071  16446         50811
6  2019-09-07    6043       2865     8908  15071  16446  18322         49839
7  2019-09-08   14984       2797    17781  16446  18322   8908         43676
8  2019-09-09   12195       2013    14208  18322   8908  17781         45011
9  2019-09-10   13128       2417    15545   8908  17781  14208         40897
10 2019-09-11   17445       2114    19559  17781  14208  15545         47534
11 2019-09-12   17554       2659    20213  14208  15545  19559         49312
12 2019-09-13   14498       1718    16216  15545  19559  20213         55317
13 2019-09-14   19433       2855    22288  19559  20213  16216         55988
14 2019-09-15   20570       2343    22913  20213  16216  22288         58717
15 2019-09-16   22266       2050    24316  16216  22288  22913         61417
16 2019-09-17   16863       2543    19406  22288  22913  24316         69517
17 2019-09-18   11815       2213    14028  22913  24316  19406         66635
18 2019-09-19   13509       2775    16284  24316  19406  14028         57750
19 2019-09-20   18181       2121    20302  19406  14028  16284         49718
20 2019-09-21   18122       2720    20842  14028  16284  20302         50614
21 2019-09-22   12540       1672    14212  16284  20302  20842         57428
22 2019-09-23   20877       2890    23767  20302  20842  14212         55356
23 2019-09-24   18069       2317    20386  20842  14212  23767         58821
24 2019-09-25   14878       2398    17276  14212  23767  20386         58365
25 2019-09-26   17084       2950    20034  23767  20386  17276         61429
26 2019-09-27   19990       2045    22035  20386  17276  20034         57696
27 2019-09-28   21841       2406    24247  17276  20034  22035         59345
28 2019-09-29   19637       1954    21591  20034  22035  24247         66316
29 2019-09-30   18458       1687    20145  22035  24247  21591         67873
30 2019-10-01   16303       2557    18860  24247  21591  20145         65983
31 2019-10-02   14119       2143    16262  21591  20145  18860         60596
32 2019-10-03   17867       4176    22043  20145  18860  16262         55267
33 2019-10-04   14296       2017    16313  18860  16262  22043         57165
34 2019-10-05   15845       2342    18187  16262  22043  16313         54618
35 2019-10-06   20367       2519    22886  22043  16313  18187         56543
36 2019-10-07   18809       3264    22073  16313  18187  22886         57386
37 2019-10-08   15740       2962    18702  18187  22886  22073         63146
38 2019-10-09   16719       2226    18945  22886  22073  18702         63661
39 2019-10-10   15463       2203    17666  22073  18702  18945         59720
40 2019-10-11   20343       2248    22591  18702  18945  17666         55313
41 2019-10-12   22500       2273    24773  18945  17666  22591         59202
42 2019-10-13   23091       2647    25738  17666  22591  24773         65030
43 2019-10-14   21880       1988    23868  22591  24773  25738         73102
44 2019-10-15   19431       2520    21951  24773  25738  23868         74379
45 2019-10-16   16483       2237    18720  25738  23868  21951         71557

In [46]:
airport.to_csv('C:\\Users\\hskang\\Desktop\\Coding\\Python AI\\AI Competition 2nd\\Datas\\airport.csv')